################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SearchAndBook/.vs/SearchAndBook
/SearchAndBook/.vs/ProjectEvaluation


# =========================
# .NET / C# Ignore Rules
# =========================
# Build results
[Bb]in/
[Oo]bj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# User-specific files
*.user
*.userosscache
*.sln.docstates